<section class="overflow-hidden bg-fondo px-6 py-24">
  <div class="mx-auto grid max-w-7xl items-center gap-8 md:gap-16 md:grid-cols-2">
    <div class="group relative">
      <div
        class="bg-secundario/70 absolute -inset-4 -rotate-2 rounded-2xl transition-transform duration-500 group-hover:rotate-0"
      >
      </div>
      <img
        class="relative aspect-4/5 w-full rounded-xl object-cover shadow-2xl"
        data-alt=""
        src="/aripuca-de-lejos.png"
      />
    </div>
    <div class="space-y-6">
      <span
        class="text-primario font-body text-sm font-bold tracking-widest uppercase"
        >Nuestro Compromiso</span
      >
      <h2 class="font-title text-4xl font-black md:text-5xl">
        Sanar la tierra a través de la conciencia
      </h2>
      <p class="font-body text-lg leading-relaxed">
        Construida con troncos recuperados de la selva misionera, La Aripuca no
        es solo una estructura, es un mensaje. Cada pieza cuenta una historia de
        gigantes caídos y la urgente necesidad de proteger lo que aún nos queda.
      </p>
      <div class="grid grid-cols-2 gap-6 pt-4">
        <div class="border-primario bg-secundario/8 font-body border-l-4 p-4">
          <span class="text-secondary block text-2xl font-bold">30+</span>
          <span class="text-on-surface-variant text-sm">Especies nativas</span>
        </div>
        <div class="border-secundario bg-secundario/8 font-body border-l-4 p-4">
          <span class="text-secondary block text-2xl font-bold">17m</span>
          <span class="text-on-surface-variant text-sm">De altura</span>
        </div>
      </div>
    </div>
  </div>
</section>
