<section class="bg-secundario/95 px-4 py-24 sm:px-6">
  <div class="mx-auto max-w-7xl">
    <div class="mb-16 text-center">
      <h2
        class="font-title mb-4 text-4xl font-black text-white text-shadow-2xs"
      >
        Experiencias
      </h2>
      <p
        class="font-body mx-auto max-w-2xl rounded-xl bg-white/15 p-2 text-gray-200 text-shadow-2xs"
      >
        Sumergite en la cultura local con actividades diseñadas para conectar
        tus sentidos con la naturaleza.
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-3">
      <!-- Card 1 -->
      <div
        class="group overflow-hidden rounded-2xl bg-white shadow-sm transition-shadow hover:shadow-xl"
      >
        <div class="h-64 overflow-hidden">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110"
            data-alt="dulce hecho con madera comestible"
            src="/confituras-de-madera.jpeg"
          />
        </div>
        <div class="border-primario border-b-4 p-8">
          <h3 class="text-on-background font-title mb-3 text-2xl">
            Sabores de la Selva
          </h3>
          <p class="text-on-surface-variant font-body mb-6">Descripcion</p>
          <a
            class="text-primario/90 flex items-center gap-2 font-bold"
            href="#"
          >
            Ver detalles
          </a>
        </div>
      </div>
      <!-- Card 2 -->
      <div
        class="group overflow-hidden rounded-2xl bg-white shadow-sm transition-shadow hover:shadow-xl"
      >
        <div class="h-64 overflow-hidden">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110"
            data-alt="artisan hands carefully carving local wood and weaving natural fibers into intricate traditional crafts"
            src="/tiro-flecha.jpg"
          />
        </div>
        <div class="border-secundario/50 border-b-4 p-8">
          <h3 class="text-on-background font-title mb-3 text-2xl">Titulo</h3>
          <p class="text-on-surface-variant font-body mb-6">Descripción</p>
          <a
            class="text-primario/90 flex items-center gap-2 font-bold"
            href="#"
          >
            Ver detalles
          </a>
        </div>
      </div>
      <!-- Card 3 -->
      <div
        class="group overflow-hidden rounded-2xl bg-white shadow-sm transition-shadow hover:shadow-xl"
      >
        <div class="h-64 overflow-hidden">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110"
            data-alt="quiet forest trail winding through tall ancient trees with ferns and diverse flora in soft green light"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuCQPCTSIzIgXgx06b2aKOF9NDtxQx1llEdJYOJClD-9t2_hM-jUuTvVsvBL5bKbZkoDiJKj-WPFubtZ6EDsqdoT8NDGeqBQt2tnuvExX-fn5JgOOGGykvoIidvfDmP8NRMFRF-t_Xyl9_qSRFMpBbrM8FW_y-Pm7HtiwCbURbQhNpKgE3ekLa62k9u6Lu6aKOem-9eWvtC139dHINCrE3oosvnZYkyXKw_xdrgKN2ICljbacOr9JkXgSv6gIrw6J_tBTgFyZ57Wldw"
          />
        </div>
        <div class="border-primario border-b-4 p-8">
          <h3 class="text-on-background font-title mb-3 text-2xl">Título</h3>
          <p class="text-on-surface-variant font-body mb-6">Descripción</p>
          <a
            class="text-primario/90 flex items-center gap-2 font-bold"
            href="#"
          >
            Ver detalles
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
