<!-- HERO -->
<section
  class="relative flex h-screen w-full items-center justify-center overflow-hidden"
>
  <img
    class="absolute inset-0 h-full w-full object-cover"
    src="/arip-3-copy-1-1024x376.webp"
    alt=""
  />
  <div class="hero-gradient absolute inset-0"></div>
  <div class="max-x-4xl relative z-10 px-6 text-center">
    <h1
      class="font-title mb-6 text-4xl leading-tight font-bold text-white drop-shadow-lg sm:text-5xl md:text-7xl"
    >
      La Aripuca:
      <span class="text-[#BFB065]">Un monumento a la selva misionera.</span>
    </h1>
    <p
      class="font-body mx-auto mb-10 max-w-2xl text-xl font-light text-gray-50 md:text-2xl"
    >
      <!--   <span class="text-[#BFB065]">Un monumento a la selva misionera.</span>  -->
    </p>
    <div class="flex justify-center gap-4">
      <button class="buttonHero bg-[#8C3B17] text-white drop-shadow-xl">boton uno</button>
      <button class="buttonHero border border-white/50 bg-white/30">boton dos</button>
    </div>
  </div>
</section>
