<section class="bg-fondo px-4 py-24 sm:px-6">
  <div class="mx-auto max-w-7xl">
    <div class="mb-12 flex items-end justify-between">
      <div>
        <h2 class="font-title text-4xl text-black">Ventanas a la Selva</h2>
        <p class="font-body text-black/40">
          Fragmentos de belleza natural capturados en nuestra reserva.
        </p>
      </div>
      <a href="galeria" class="text-secundario hidden font-bold md:block"
        >Ver Galería Completa →</a
      >
    </div>
    <div class="grid auto-rows-[200px] grid-cols-2 gap-4 md:grid-cols-4">
      <div
        class="relative overflow-hidden rounded-2xl md:col-span-2 md:row-span-2"
      >
        <img
          class="h-full w-full object-cover transition-transform duration-700 hover:scale-105"
          data-alt=""
          src="/las-tacuaras.jpg"
        />
      </div>
      <div class="relative overflow-hidden rounded-2xl">
        <img
          class="h-full w-full object-cover transition-transform duration-700 hover:scale-105"
          data-alt=""
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuBkQ2kZOQzXqZQ4V3SwCHNOJ1lKFiFUySi-1IRdk7aUqWDL2y5v1R6YmMWj8ixIS4IEkQtXE_KxAZ3OW2nKRPfNs9XgjBMi0mr8zFRRaAdh_szGFXFCq60smiIokJojZrneO8bx_E8I6O9njsezEV3yWzRf8eSdaNTe2rUX1KPx3uuGy4opvnpTffcHgqPoRv6CPwFEvxNE7kEVyWdNoyvUQt8RqCUjuLWNp43-DcdmGZpm50OThe6hKWOHKafFHNV9VD7V2vPX93A"
        />
      </div>
      <div class="relative overflow-hidden rounded-2xl md:row-span-2">
        <img
          class="h-full w-full object-cover transition-transform duration-700 hover:scale-105"
          data-alt="detail of a carved wooden totem pole with indigenous patterns reflecting local Guarani culture"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuBYM0F_eUXaqdS3kR4n4aGQDHZRg6_1L4nPq76-nwRKqS7nJaMl5wg7W_q5ZtF42zCsb8NgnfwslM0_88SGy6gZJLeh7DjT8me6lm_7NAuJMu2XT_N5viYlQkTGiFPZIJlKHvc3qrbSeJu8Zek4xAIoyyZNgQke2J-E6qe8rp9o-nrKLUTGJExQPPqQv-1o4Ri0h63LuyrqpZxZ7AaP-KyEOrKucFQOntdT6lno3LhhyHVsdIoDkzCiuTQAef9WITLVll4zgQ518lQ"
        />
      </div>
      <div class="relative overflow-hidden rounded-2xl">
        <img
          class="h-full w-full object-cover transition-transform duration-700 hover:scale-105"
          data-alt=""
          src="/00L00119.jpg"
        />
      </div>
      <div class="relative overflow-hidden rounded-2xl md:col-span-2">
        <img
          class="h-full w-full object-cover transition-transform duration-700 hover:scale-105"
          data-alt="p"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuCC0WxXwG7eojhKoH7uEwkY2l_JsXRTe-7UqxCKqZYATeVWcpYRyrUT4IUP7kuOlq_ntZqbhhh27T_gekB17DXKLl8jJh1MmMetm2mS-SVB8F3yMaZTXDTiZcsXVsANAHOO9HgkgI7_UjbFfJIDl-vLnDOKWe3jLeWKS9fmU_FSMnvgFps_QEuwI4e7VoLosfVHeyi3mKtNtJuVRBHz-BK_g950Uqzli-0uSyxpxp3-CktJPjNqah0Q3fjhA41tt9czLfw8amXwCeo"
        />
      </div>
    </div>
  </div>
</section>
