<section class="bg-secondary px-6 py-24">
  <div class="mx-auto max-w-7xl">
    <div class="grid gap-6 sm:grid-cols-2 sm:gap-8 md:grid-cols-3 md:gap-12">
      <div
        class="bg-fondo border-primary rounded-2xl border-t-4 p-8 shadow-sm"
      >
        <span class="material-symbols-outlined mb-6 text-xl">schedule</span>
        <h3 class="text-on-background font-title mb-4 text-xl">Horarios</h3>
        <p class="text-on-surface-variant font-body">
          Lunes a Domingos<br /><span class="text-on-surface font-bold"
            >09:00 - 18:00 hs</span
          ><br /><span class="text-xs italic">*Abierto feriados.</span>
        </p>
      </div>
      <div
        class="bg-fondo border-primary rounded-2xl border-t-4 p-8 shadow-sm"
      >
        <span class="material-symbols-outlined text-tertiary mb-6 text-4xl"
          >Payments</span
        >
        <h3 class="text-on-background font-title mb-4 text-xl">Precios</h3>
        <p class="text-on-surface-variant font-body">
          Mayores de 8 años: $8.000<br /><span class="text-xs italic"
            >*Menores de 8 años y personas con discapacidad no abonan la
            entrada.</span
          >
        </p>
      </div>
      <div
        class="bg-fondo border-primary rounded-2xl border-t-4 p-8 shadow-sm"
      >
        <span class="material-symbols-outlined text-secondary mb-6 text-4xl"
          >Map</span
        >
        <h3 class="text-on-background font-title mb-4 text-xl">Cómo llegar</h3>
        <p class="text-on-surface-variant font-body">
          Ruta 12, Km 4.5<br />Puerto Iguazú, Misiones.<br />A 15 min. del
          centro.
        </p>
      </div>
    </div>
  </div>
</section>
