<section class="bg-fondo px-6 py-24">
  <div class="mx-auto max-w-7xl overflow-hidden">
    <h2 class="font-title mb-16 text-center text-4xl">
      Testimonios de Nuestros Visitantes
    </h2>

    <div
      class="no-scrollbar flex snap-x items-stretch gap-8 overflow-x-auto pb-8"
    >
      <!-- Card 1 -->
      <div
        class="flex w-72 shrink-0 snap-center flex-col rounded-2xl border border-zinc-200 bg-white p-5 shadow-sm sm:w-75 sm:p-8 md:w-100"
      >
        <div class="mb-4 flex gap-1 text-yellow-400">
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
        </div>
        <p class="font-body mb-6 grow italic">
          "El lugar es muy hermoso. El costo de la entrada es muy accesible.
          Tiene varias tiendas para comprar alimentos y artesanías en piedra y
          madera. Se puede comer madera. Los guías hacen un pequeño recorrido
          guiado donde cuentan la antigüedad de los árboles y el por qué la
          forma de la construcción. El recorrido es corto, puede llevar 2 horas
          como mucho (incluyendo la visita a las tiendas)."
        </p>
        <div class="flex items-center gap-4">
          <div
            class="bg-primario/20 flex h-12 w-12 items-center justify-center rounded-full"
          >
            <span class="font-title text-primario font-bold">S</span>
          </div>
          <div>
            <p class="font-bold">Sylvina Morales.</p>
            <!--  <p class="text-xs text-zinc-500">Buenos Aires, AR</p> -->
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="flex w-72 shrink-0 snap-center flex-col rounded-2xl border border-zinc-200 bg-white p-5 shadow-sm sm:w-75 sm:p-8 md:w-100"
      >
        <div class="mb-4 flex gap-1 text-yellow-400">
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
        </div>
        <p class="font-body mb-6 grow italic">
          "Hermoso lugar. Historia viva de como cazaban.Ademas con una tienda de
          artesanías y recuerdos a muy buen precio. En el lugar cuentan con un
          restaurante a muy bien precio calidad y con una heladería con el
          helado de yerba mate. Lugar para frenar, y tomarse un ratito"
        </p>
        <div class="flex items-center gap-4">
          <div
            class="bg-secundario/20 flex h-12 w-12 items-center justify-center rounded-full"
          >
            <span class="font-title text-secundario font-bold">V</span>
          </div>
          <div>
            <p class="font-bold">Vanesa Carricondo.</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class="flex w-72 shrink-0 snap-center flex-col rounded-2xl border border-zinc-200 bg-white p-5 shadow-sm sm:w-75 sm:p-8 md:w-100"
      >
        <div class="mb-4 flex gap-1 text-yellow-400">
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
        </div>
        <p class="font-body mb-6 grow italic">
          "Excelente lugar en Iguazú para visitar , el helado de yerba mate lo
          más."
        </p>
        <div class="flex items-center gap-4">
          <div
            class="bg-primario/20 flex h-12 w-12 items-center justify-center rounded-full"
          >
            <span class="font-title text-primario font-bold">D</span>
          </div>
          <div>
            <p class="font-bold">David Velasquez.</p>
          </div>
        </div>
      </div>
      <!-- CARD 4 -->
      <div
        class="flex w-72 shrink-0 snap-center flex-col rounded-2xl border border-zinc-200 bg-white p-5 shadow-sm sm:w-75 sm:p-8 md:w-100"
      >
        <div class="mb-4 flex gap-1 text-yellow-400">
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
        </div>
        <p class="font-body mb-6 grow italic">
          "Lindo lugar, se trata de construcciones hechas con troncos de árboles
          secos. Es una experiencia distinta ya que explica y concientiza sobre
          los árboles autóctonos. El ambiente es tranquilo, tiene tienda de
          regalos, de comidas y el valor de la entrada es accesible. La visita
          puede ser breve, depende el detalle con el que se mire."
        </p>
        <div class="flex items-center gap-4">
          <div
            class="bg-secundario/20 flex h-12 w-12 items-center justify-center rounded-full"
          >
            <span class="font-title text-secundario font-bold">M</span>
          </div>
          <div>
            <p class="font-bold">Martín Ignacio Renzi.</p>
          </div>
        </div>
      </div>
      <!-- CARD 5 -->
      <div
        class="flex w-72 shrink-0 snap-center flex-col rounded-2xl border border-zinc-200 bg-white p-5 shadow-sm sm:w-75 sm:p-8 md:w-100"
      >
        <div class="mb-4 flex gap-1 text-yellow-400">
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
          <span class="material-symbols-outlined icon-filled">star</span>
        </div>
        <p class="font-body mb-6 grow italic">
          "Hermoso lugar, mucha variedad de productos tanto comestible como para
          tener recuerdos únicos. El fundador una excelente persona muy cálida y
          amable, se nota el amor con el que pensó la experiencia y la
          dedicación que pone la familia en seguir con el lugar ."
        </p>
        <div class="flex items-center gap-4">
          <div
            class="bg-primario/20 flex h-12 w-12 items-center justify-center rounded-full"
          >
            <span class="font-title text-primario font-bold">M</span>
          </div>
          <div>
            <p class="font-bold">Amelia Ramírez.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
