<!-- Section 3: Cucurucho (White Background) -->
<section class="bg-secundario/95 py-12 md:py-20 lg:py-32" id="elcucurucho">
  <div
    class="mx-auto flex max-w-7xl flex-col items-center gap-12 px-4 sm:px-6 md:flex-row lg:gap-20"
  >
    <div class="order-1 w-full space-y-6 md:order-1 md:w-1/2">
      <div
        class="inline-flex items-center gap-2 rounded-full bg-white/20 px-4 py-1.5 text-sm font-bold tracking-widest text-white uppercase"
      >
        Meriendas
      </div>
      <h2
        class="font-title text-3xl font-bold tracking-tight text-white text-shadow-2xs sm:text-4xl md:text-5xl"
      >
        El Cucurucho
      </h2>
      <p
        class="font-body p-2 text-lg leading-relaxed text-white text-shadow-2xs"
      >
        En este simpático espacio construido con Ibirá Pitá huecos y techo de
        paja, le ofrecen un refrigerio para que su experiencia recorra hasta el
        último de sus sentidos. Aquí usted podrá sentarse a degustar los únicos
        y exquisitos helados de yerba mate, pétalos de flor de Rosella y Jejy'a
        (fruto del palmito). Además de jugos y licuados naturales elaborados en
        el momento o el innovador mate instantáneo (soluble) frío o caliente con
        chipitas o sándwiches de pan casero como recién hecho.
      </p>
      <div class="grid grid-cols-2 gap-4"></div>
    </div>
    <div class="order-2 w-full md:order-2 md:w-1/2">
      <div
        class="aspect-square rotate-3 overflow-hidden rounded-[4rem] bg-white p-4 shadow-2xl transition-transform duration-500 hover:rotate-0"
      >
        <img
          alt="Cucurucho Snacks"
          class="h-full w-full rounded-[3rem] object-cover"
          data-alt="Merienda en la Aripuca"
          src="/cucurucho.jpg"
        />
      </div>
    </div>
  </div>
</section>
