<!-- Section: Guaranies -->
<section class="overflow-hidden bg-white py-12 md:py-20 lg:py-32" id="losguaranies">
  <div
    class="mx-auto grid max-w-7xl grid-cols-1 items-center gap-12 px-6 lg:grid-cols-2"
  >
    <div class="order-1 space-y-8 lg:order-2">
      <h2 class="text-title text-3xl font-black tracking-tight sm:text-4xl md:text-5xl">
        Los Guaraníes
      </h2>
      <p class="font-body text-xl leading-relaxed">
        La Aripuca cede un espacio a la comunidad guaraní dentro del predio,
        donde, en una choza típica, comparten su cultura con los visitantes
        ofreciendo sus artesanías , lo cual representa su principal fuente de
        ingresos. <br /> Los pueblos guaraníes, presentes en esta región desde tiempos
        precolombinos, están conformados por diversos grupos de la Gran Nación Guaraní,
        como los Mbyá, Paĩ-Tavyterã, Ache-Guajakí y los Ava-Katú-Eté (también conocidos
        como Avá-Guaraní o Ñandeva). <br />Aunque la colonización fragmentó su
        territorio y transformó su entorno, muchas comunidades guaraníes
        conservan sus costumbres, su idioma y su espiritualidad ancestral. Hoy
        continúan profundamente vinculadas a la Selva Misionera, su territorio
        sagrado.
      </p>
    </div>
    <div class="group relative order-2 lg:order-1">
      <div
        class="bg-secundario/70 absolute -inset-4 -rotate-2 rounded-2xl transition-transform duration-500 group-hover:rotate-0"
      >
      </div>
      <img
        class="relative h-full w-full rounded-xl object-cover shadow-2xl"
        data-alt=""
        src="/guaranies.jpg"
      />
    </div>
  </div>
</section>
