<section
  class="bg-secondary/95 overflow-hidden py-12 md:py-20 lg:py-32"
  id="lastacuaras"
>
  <div
    class="mx-auto flex max-w-7xl flex-col items-center gap-12 px-6 md:flex-row lg:gap-20"
  >
    <div class="order-1 w-full space-y-6 md:order-1 md:w-1/2">
      <!--<div
        class="inline-flex items-center gap-2 rounded-full bg-white/20 px-4 py-1.5 text-sm font-bold tracking-widest text-white uppercase"
      >
      </div> -->
      <h2
        class="font-title text-3xl font-bold tracking-tight text-white text-shadow-2xs sm:text-4xl md:text-5xl"
      >
        Las Tacuaras
      </h2>
      <p
        class="font-body p-2 text-lg leading-relaxed text-white text-shadow-2xs"
      >
        Este espacio de usos múltiples fue construido con cañas autóctonas de la
        selva misionera, conocidas como tacuaras . Su estructura de doble piso
        alberga charlas, actividades escolares, exposiciones y encuentros
        culturales. Destaca la Tacuara Paraná (Tacuaruzú), una especie que puede
        alcanzar los 30 metros de altura y florece solo una vez cada 25 a 30
        años antes de morir, renovándose de forma natural. Este fenómeno inspiró
        la creación de este espacio, símbolo de la riqueza y sostenibilidad de
        Misiones.
      </p>
      <p
        class="font-body p-2 text-lg leading-relaxed text-white text-shadow-2xs"
      >
        Destaca la Tacuara Paraná (Tacuaruzú), una especie que puede alcanzar
        los 30 metros de altura y florece solo una vez cada 25 a 30 años antes
        de morir, renovándose de forma natural. Este fenómeno inspiró la
        creación de este espacio, símbolo de la riqueza y sostenibilidad de
        Misiones.
      </p>
    </div>
    <div class="order-2 w-full md:order-2 md:w-1/2">
      <div
        class="aspect-square rotate-3 overflow-hidden rounded-[4rem] bg-white p-4 shadow-2xl transition-transform duration-500 hover:rotate-0"
      >
        <img
          alt="Las Tacuaras"
          class="h-full w-full rounded-[3rem] object-cover"
          data-alt=""
          src="/images/las-tacuaras.jpg"
        />
      </div>
    </div>
  </div>
</section>
