<section class="bg-secundario/95 py-20 lg:py-32" id="eltacuru">
  <div
    class="mx-auto flex max-w-7xl flex-col items-center gap-12 px-6 md:flex-row lg:gap-20"
  >
    <div class="order-1 w-full space-y-6 md:order-1 md:w-1/2">
      <div
        class="inline-flex items-center gap-2 rounded-full bg-white/20 px-4 py-1.5 text-sm font-bold tracking-widest text-white uppercase"
      >
        texto &amp; texto
      </div>
      <h2
        class="font-title text-5xl font-bold tracking-tight text-white text-shadow-2xs"
      >
        El Tacurú
      </h2>
      <p
        class="font-body p-2 text-lg leading-relaxed text-white text-shadow-2xs"
      >
        Este espacio toma su nombre de la piedra Itacurubí (o tacurú), muy común
        en Misiones, especialmente en zonas bajas y húmedas. En su estado
        natural es blanda, pero se endurece al contacto con el aire, volviéndose
        muy resistente.
      </p>
      <p
        class="font-body p-2 text-lg leading-relaxed text-white text-shadow-2xs"
      >
        Tacurú también es el nombre regional de los nidos de termitas de tierra,
        conocidos por su firmeza y alto contenido de hierro.
      </p>
      <p
        class="font-body p-2 text-lg leading-relaxed text-white text-shadow-2xs"
      >
        El edificio fue construido con más de 500 toneladas de piedras
        misioneras como basalto negro, jaspe rojo, ojo de sapo, basalto oxidado,
        arenisca, canto rodado y amatista, reflejando la diversidad mineral de
        la región. <br />En su interior se exhiben artesanías argentinas en
        cuero, lana, hueso y plata, junto a minerales como cuarzo, ónix y
        Rodocrosita. Los muebles , elaborados en el lugar con raíces de cedro
        recuperadas , aportan un estilo rústico, único y natural. Cada pieza es
        irrepetible , resaltando la belleza de las formas originales de la
        madera.
      </p>
      <a
        href="/galeria"
        class="hidden rounded-xl border-2 border-white px-8 py-3 font-bold text-white transition-all hover:bg-white hover:text-[#8a7f00] lg:inline-block"
      >
        Ver galería
      </a>
    </div>
    <div class="order-2 w-full md:order-2 md:w-1/2">
      <div
        class="aspect-square rotate-3 overflow-hidden rounded-[4rem] bg-white p-4 shadow-2xl transition-transform duration-500 hover:rotate-0"
      >
        <img
          alt="El Tacurú"
          class="h-full w-full rounded-[3rem] object-cover"
          data-alt=""
          src="public/tacuru.jpg"
        />
      </div>
    </div>
  </div>
</section>
