<!-- Section 2: El Yateí  -->
<section class="bg-surface-container-low py-12 md:py-20 lg:py-32" id="elyatei">
  <div
    class="mx-auto flex max-w-7xl flex-col items-center gap-12 px-4 sm:px-6 md:flex-row lg:gap-20"
  >
    <div class="group relative order-2 w-full md:order-1 md:w-3/5">
      <!-- Fondo decorativo rotado -->
      <div
        class="bg-secundario/70 absolute -inset-4 -rotate-2 rounded-3xl transition-transform duration-500 group-hover:rotate-0"
      >
      </div>
      <!-- Imagen -->
      <img
        alt="Tienda El Yateí"
        class="relative h-64 w-full rounded-3xl object-cover shadow-2xl transition-transform duration-700 md:h-125"
        src="/yatei-fuera.jpg"
      />
    </div>
    <div class="relative order-1 w-full space-y-6 md:order-2 md:w-2/5">
      <div
        class="bg-primario/10 text-primary inline-flex items-center gap-2 rounded-xl px-4 py-1.5 text-sm font-bold tracking-widest uppercase"
      >
        Artesanías
      </div>
      <h2 class="font-title text-3xl font-bold tracking-tight text-shadow-2xs sm:text-4xl md:text-5xl">
        El Yateí
      </h2>
      <p class="font-body text-lg leading-relaxed text-shadow-2xs">
        Este espacio refleja la arquitectura tradicional de los agricultores en <strong
          >Misiones</strong
        >, con su característico techo a dos aguas, galería frontal y base
        elevada para protegerse de la humedad y los animales. <strong
          >El Yateí</strong
        > es una pequeña abeja sin aguijón nativa de América del Sur, cuya
        <strong>miel</strong> es altamente valorada en la medicina guaranítica por
        sus propiedades beneficiosas.
      </p>
      <p class="font-body text-lg leading-relaxed text-shadow-2xs">
        En este recorrido, los visitantes pueden conocer más sobre su producción
        y explorar una réplica de vivienda rural. En su interior se exhiben
        productos autóctonos de Misiones, como
        <strong
          >yerba mate, miel silvestre, licores regionales, alfajores de
          mandioca, mermeladas y dulce de leche de búfala</strong
        >, además de artesanías únicas en madera, indumentaria, mates, semillas
        etc.
      </p>
      <p class="font-body text-lg leading-relaxed text-shadow-2xs">
        Este espacio es una <strong
          >ventana a los artesanos y a los agricultores locales</strong
        >, mostrando la riqueza natural de la Selva Misionera y promoviendo el
        turismo sustentable.
      </p>
    </div>
  </div>
</section>
