---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/espacios/hero.astro";
import Termitas from "../components/espacios/termitas.astro";
import Yatei from "../components/espacios/yatei.astro";
import Tacuru from "../components/espacios/tacuru.astro";
import Cucurucho from "../components/espacios/cucurucho.astro";
import Guaranies from "../components/espacios/guaranies.astro";

import Prefooter from "../components/espacios/prefooter.astro";
---

<Layout
  title="Nuestros Espacios - La Aripuca | Puerto Iguazú"
  description="Conocé los espacios únicos de La Aripuca: Las Tacuaras, Los Guaraníes, El Tacurú, El Yateí, El Cucurucho y Las Termitas. Gastronomía, cultura y naturaleza en Puerto Iguazú."
>
  <main class="pt-20">
    <Hero />
    <div class="space-y-0">
      <Termitas />
      <Yatei />
      <Cucurucho />
      <Tacuru />
      <Guaranies />
    </div>
    <Prefooter />
  </main>
</Layout>
