---
import Menu from "../globals/menu.astro";
---

<header
  class="bg-fondo fixed z-50 flex w-full items-center justify-between px-6 py-4 backdrop-blur-md"
>
  <a href="/">
    <img
      src="/logo.png"
      alt="La Aripuca logo"
      class="flex h-10 w-auto pl-4 md:h-16 md:pl-10"
    />
  </a>
  <Menu />

  <a href="/#contacto" class="buttonHeader hidden hover:text-white lg:block"
    >Contacto</a
  >
</header>
