---
import Menu from "../menu.astro";
---

<header
  class="bg-fondo fixed z-50 flex w-full items-center justify-between px-6 py-4 backdrop-blur-md md:px-16"
>
  <a href="/">
    <img src="/logo.png" alt="La Aripuca logo" class="h-10 w-auto md:h-16" />
  </a>

  <Menu />
  <!--
  <nav id="nav-menu">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li class="submenu-parent relative">
        <a href="/espacios" id="espacios-link">Espacios ▾</a>
        <ul class="submenu">
          <li><a href="/#lastacuaras">Las Tacuaras</a></li>
          <li><a href="/#losguaranies">Los Guaraníes</a></li>
          <li><a href="/#eltacuru">El Tacurú</a></li>
          <li><a href="/#elyatei">El Yateí</a></li>
          <li><a href="/#elcucurucho">El Cucurucho</a></li>
          <li><a href="/#lastermitas">Las Termitas</a></li>
        </ul>
      </li>
      <li><a href="/galeria">Galería</a></li>
      <li><a href="/blog">Blog</a></li>
      <li class="contacto-mobile">
        <a href="/#contacto" class="buttonHeader">Contacto</a>
      </li>
    </ul>
  </nav> -->

  <a href="/#contacto" class="buttonHeader hidden lg:block">Contacto</a>
</header>
